name: Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
    branches:
      - main

jobs:
  test:
    name: Test
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
