name: Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
    branches:
      - main

jobs:
  validate-pr-title:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - name: PR Conventional Commit Validation
        uses: amannn/action-semantic-pull-request@v6  # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            test
            refactor
            ci
            perf
            chore
            revert
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            should not start with an uppercase character.

  label-pr:
    name: Label PR
    runs-on: ubuntu-latest
    needs: validate-pr-title
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: Add label based on PR title type
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          task_types: '["feat","fix","docs","test","refactor","ci","perf","chore","revert"]'
          add_label: 'false'

  test:
    name: Test
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
